Repository amzilayoub/ft_transcendence, pull requests merged in 2023-01, with the labels that each got.

#32 Chatu in the wayu
  frontend/next.config.js
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/chat/Leftbar.tsx
  frontend/src/components/chat/MiddleBar.tsx
  frontend/src/components/layout/index.tsx
  frontend/src/context/auth.context.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/chat.tsx
  frontend/src/pages/chat/[id].tsx
  frontend/src/styles/globals.css
  frontend/src/ui/DropDown.tsx
  frontend/src/ui/Message.tsx
  frontend/src/utils/format.ts
Labels: frontend

#35 IMP: chat box UI/UX
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/global/types.ts
  frontend/tailwind.config.js
Labels: frontend

#36 authenticating-users-argon-passport-jwt-cookies
  api/.env.example
  api/package.json
  api/prisma/schema.prisma
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.ts
  api/src/auth/dto/auth.dto.ts
  api/src/auth/guards/auth.guard.ts
  api/src/auth/inrefaces/requestWithUser.interface.ts
  api/src/auth/inrefaces/tokenPayload.interface.ts
  api/src/auth/strategy/index.ts
  api/src/auth/strategy/jwt.strategy.ts
  api/src/auth/strategy/local.strategy.ts
  api/src/common/guards/jwt_guard.ts
  api/src/main.ts
  api/src/prisma/prisma.service.ts
  api/yarn.lock
  package.json
  yarn.lock
Labels: api

#37 Chat/integration get user rooms
  api/package.json
  api/prisma/migrations/20230104211856_add_avatar_field/migration.sql
  api/prisma/migrations/20230104213437_adding_default_avatar_image/migration.sql
  api/prisma/migrations/20230104213523_change_avatar_to_avatar_url/migration.sql
  api/prisma/migrations/20230104213840_change_name_avatar_url/migration.sql
  api/prisma/migrations/20230105185952_update_2/migration.sql
  api/prisma/migrations/20230105194543_add_is_read_field_on_message_model/migration.sql
  api/prisma/schema.prisma
  api/public/uploadedFiles/avatars/default.png
  api/src/app.module.ts
  api/src/chat/chat.service.ts
  api/src/main.ts
  api/yarn.lock
  frontend/.env.example
  frontend/next.config.js
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/context/chat.context.tsx
  frontend/src/global/types.ts
  frontend/src/utils/basicFetch.ts
Labels: api, frontend

#38 Integration/chat chatbox component
  api/src/chat/chat.controller.ts
  api/src/chat/chat.service.ts
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/chat/ChatStuff.tsx
  frontend/src/context/chat.context.tsx
Labels: api, frontend

#40 App env example file
  .env.example
  api/.env.example
Labels: api, frontend

#43 F0lio - profile page IMPs
  frontend/next.config.js
  frontend/public/images/default-avatar.jpg
  frontend/src/assets/friends/friend1.jpeg
  frontend/src/assets/friends/friend2.jpeg
  frontend/src/assets/friends/friend3.jpeg
  frontend/src/assets/logo.png
  frontend/src/assets/pong.json
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/common/Loading.tsx
  frontend/src/components/common/LoadingPage.tsx
  frontend/src/components/common/Redirecting.tsx
  frontend/src/components/menus/dropdowns/ProfileNavMenu.tsx
  frontend/src/components/modals/AuthModal.tsx
  frontend/src/components/navbar/index.tsx
  frontend/src/context/auth.context.tsx
  frontend/src/context/chat.context.tsx
  frontend/src/global/types.ts
  frontend/src/pages/u/[username].tsx
  frontend/src/ui/TextInput.tsx
  frontend/src/utils/basicFetch.ts
  frontend/src/utils/constants.ts
Labels: frontend

#49 [IMP] integrating chat sockets
  api/.env.example
  api/src/chat/chat.controller.ts
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  api/src/chat/dto/chat_common.dto.ts
  frontend/package.json
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/yarn.lock
Labels: frontend

#50 42 auth
  api/package.json
  api/prisma/migrations/20230108225645_/migration.sql
  api/prisma/schema.prisma
  api/src/app.module.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.ts
  api/src/auth/dto/auth.dto.ts
  api/src/auth/strategy/ft.strategy.ts
  api/src/auth/strategy/local.strategy.ts
  api/src/test_jwt/test_jwt.controller.ts
  api/src/test_jwt/test_jwt.module.ts
  api/src/test_jwt/test_jwt.service.ts
  api/yarn.lock
  package.json
  yarn.lock
Labels: api

#51 add some VAR to .env.example
  api/.env.example
Labels: api

#54 Profile settings page
  api/.env.example
  frontend/next.config.js
  frontend/src/pages/settings.tsx
Labels: frontend

#52 [IMP] integration/chat: initializing the handshake
  api/package.json
  api/src/app.module.ts
  api/src/auth/strategy/ft.strategy.ts
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  api/src/test_jwt/test_jwt.controller.ts
  api/src/test_jwt/test_jwt.module.ts
  api/src/test_jwt/test_jwt.service.ts
  api/yarn.lock
  frontend/.env.example
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/chat/ChatStuff.tsx
  frontend/src/components/layout/index.tsx
  frontend/src/context/chat.context.tsx
Labels: api

#55 Add 2fa
  api/package.json
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/app.service.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.ts
  api/src/auth/dto/auth.dto.ts
  api/src/auth/guards/auth.guard.ts
  api/src/auth/inrefaces/requestWithUser.interface.ts
  api/src/auth/inrefaces/tokenPayload.interface.ts
  api/src/auth/strategy/jwt.strategy.ts
  api/src/auth/strategy/local.strategy.ts
  api/src/twoFactorAuthentication/twoFactorAuthentication.controller.ts
  api/src/twoFactorAuthentication/twoFactorAuthentication.module.ts
  api/src/twoFactorAuthentication/twoFactorAuthentication.service.ts
  api/yarn.lock
Labels: api

#56 [IMP] integration/chat: sending and receieving messages successfully
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  api/yarn.lock
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatStuff.tsx
  frontend/src/context/chat.context.tsx
Labels: api

#57 [IMP] adding swagger
  api/package.json
  api/prisma/migrations/20230112190744_add_black_list_model/migration.sql
  api/prisma/schema.prisma
  api/src/auth/auth.controller.ts
  api/src/chat/chat.controller.ts
  api/src/main.ts
  api/src/test_jwt/test_jwt.controller.ts
  api/src/twoFactorAuthentication/twoFactorAuthentication.controller.ts
  api/yarn.lock
  frontend/src/context/chat.context.tsx
Labels: api

#58 [IMP] adding join to new converstion and implementing search
  api/prisma/migrations/20230112213901_add_friends_model/migration.sql
  api/prisma/schema.prisma
  api/src/chat/chat.controller.ts
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/context/chat.context.tsx
Labels: api, frontend

#62 Integration/chat unread messages new implementation
  api/prisma/migrations/20230113200048_add_unread_message_count_field_on_room_user_rel_module/migration.sql
  api/prisma/schema.prisma
  api/src/chat/chat.controller.ts
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  frontend/src/components/chat/ChatStuff.tsx
  frontend/src/context/chat.context.tsx
  frontend/src/global/types.ts
Labels: api, frontend

#64 [IMP] adding extract from bearer token
  api/.env.example
  api/prisma/migrations/20230114123351_updates/migration.sql
  api/src/app.module.ts
  api/src/auth/strategy/jwt.strategy.ts
  api/src/chat/chat.controller.ts
  api/src/test_jwt/test_jwt.controller.ts
  frontend/src/context/chat.context.tsx
  frontend/src/pages/index.tsx
  frontend/src/utils/basicFetch.ts
Labels: api

#66 [DEV/RESET] restore the old changes for local storage for the token
  api/src/auth/strategy/jwt2.strategy.ts
  frontend/src/components/layout/index.tsx
  frontend/src/utils/auth-token.ts
Labels: api, frontend

#68 Chat Actions Modal - WIP
  api/src/chat/chat.service.ts
  frontend/package.json
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/chat/ChatStuff.tsx
  frontend/src/components/layout/index.tsx
  frontend/src/components/modals/ChatActionsModal.tsx
  frontend/src/components/modals/ChatActionsModal/CreateRoomTab.tsx
  frontend/src/components/modals/ChatActionsModal/ExploreRoomsTab.tsx
  frontend/src/components/modals/ChatActionsModal/SearchPeopleTab.tsx
  frontend/src/components/modals/ChatActionsModal/index.tsx
  frontend/src/components/modals/GamesHistoryModal.tsx
  frontend/src/components/navbar/SearchBar.tsx
  frontend/src/components/stats/History.tsx
  frontend/src/global/types.ts
  frontend/src/pages/settings.tsx
  frontend/src/pages/u/[username].tsx
  frontend/src/ui/BaseModal.tsx
  frontend/src/ui/Button.tsx
  frontend/src/ui/ConfirmationModal.tsx
  frontend/src/ui/Links.tsx
  frontend/src/ui/Loading.tsx
  frontend/src/ui/LoadingPage.tsx
  frontend/src/ui/NoSSR.tsx
  frontend/src/ui/Redirecting.tsx
  frontend/src/ui/TextInput.tsx
  frontend/src/ui/skeletons/UserSkeletons.tsx
  frontend/src/utils/basicFetch.ts
  frontend/yarn.lock
Labels: frontend

#70 Api/chat adapt socket to cookie
  api/package.json
  api/src/chat/chat.gateway.ts
  api/yarn.lock
  frontend/src/components/layout/index.tsx
  frontend/src/utils/basicFetch.ts
Labels: api

#71 Integration/chat create room from search
  api/prisma/migrations/20230115213048_add_cascade/migration.sql
  api/prisma/schema.prisma
  api/src/chat/chat.controller.ts
  api/src/chat/chat.gateway.ts
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/chat/ChatStuff.tsx
  frontend/src/components/modals/ChatActionsModal/SearchPeopleTab.tsx
  frontend/src/components/modals/ChatActionsModal/index.tsx
Labels: api, frontend

#72 [INTEGRATION] chat: adding the create room and explore rooms
  api/package.json
  api/prisma/migrations/20230116201956_setup_for_shared_rooms/migration.sql
  api/prisma/migrations/20230116202827_adding_table_rules/migration.sql
  api/prisma/migrations/20230116212552_adding_room_details/migration.sql
  api/prisma/schema.prisma
  api/src/chat/chat.controller.ts
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  api/src/chat/dto/chat_common.dto.ts
  api/yarn.lock
  docker-compose.yml
  frontend/src/components/modals/ChatActionsModal/CreateRoomTab.tsx
  frontend/src/components/modals/ChatActionsModal/ExploreRoomsTab.tsx
  frontend/src/components/modals/ChatActionsModal/index.tsx
Labels: api

#74 [IMP] creating notification gateway
  api/initial_data.sql
  api/prisma/migrations/20230117202835_adding_notification_model/migration.sql
  api/prisma/schema.prisma
  api/src/app.module.ts
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  api/src/notification/dto/common-notification.dto.ts
  api/src/notification/entities/notification.entity.ts
  api/src/notification/notification.gateway.ts
  api/src/notification/notification.module.ts
  api/src/notification/notification.service.ts
  frontend/src/components/chat/ChatBox.tsx
Labels: api

#73 Room modal
  frontend/package.json
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatStuff.tsx
  frontend/src/components/menus/dropdowns/ProfileNavMenu.tsx
  frontend/src/components/modals/ChatActionsModal/CreateRoomTab.tsx
  frontend/src/components/modals/Settings.tsx
  frontend/src/pages/settings.tsx
  frontend/src/ui/ConfirmationModal.tsx
  frontend/yarn.lock
Labels: frontend

#78 Integration/chat crate explore people done
  .vscode/launch.json
  api/.vscode/launch.json
  api/package.json
  api/src/chat/chat.controller.ts
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  api/src/chat/dto/chat_common.dto.ts
  docker-compose.yml
  frontend/src/components/chat/ChatStuff.tsx
  frontend/src/components/modals/ChatActionsModal/CreateRoomTab.tsx
  frontend/src/components/modals/ChatActionsModal/ExploreRoomsTab.tsx
  frontend/src/components/modals/ChatActionsModal/SearchPeopleTab.tsx
  frontend/src/components/modals/ChatActionsModal/index.tsx
  frontend/src/context/chat.context.tsx
Labels: api

#80 [IMP] cleaning demo data
  frontend/src/components/chat/ChatSidebar.tsx
Labels: frontend

#86 Dm settings
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/chat/ChatSettingsPanel.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/modals/ChatActionsModal/ChatroomSettingsModal.tsx
  frontend/src/components/modals/ChatActionsModal/RoomPasswordModal.tsx
  frontend/yarn.lock
Labels: frontend

#88 [IMP] working on block users
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  frontend/.env.example
Labels: api

#89 [IMP] caht block
  api/Dockerfile
  api/init_script.sh
  api/initial_data.sql
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  api/src/main.ts
  docker-compose.yml
  frontend/src/components/chat/ChatSidebar.tsx
Labels: api

#92 [IMP] block user is done
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
Labels: api, frontend

#93 [FIX] chat: fix the issue with sending message after unblocking the user
  api/src/chat/chat.gateway.ts
Labels: api, frontend

#97 Dm settings
  frontend/package.json
  frontend/src/components/modals/chat/ChatroomSettingsModal.tsx
  frontend/yarn.lock
Labels: frontend

#99 Integration/chat protected room join
  api/src/chat/chat.controller.ts
  api/src/chat/chat.gateway.ts
  api/src/chat/chat.service.ts
  api/src/chat/dto/chat_common.dto.ts
  frontend/src/components/chat/ChatBox.tsx
  frontend/src/components/modals/chat/ExploreRoomsTab.tsx
Labels: api, frontend
